  <%= form_for @task, :html => {class: "form-inline"}, remote: true do |f| %>
      <div class="form-group">
        <%= f.label :title, "Title:", class: "p-2" %>
        <%= f.text_field :title, class: "form-control" %></br>
      </div>

      <div class="form-group">
        <%= f.label :description, "Description:", class: "p-2" %>
        <%= f.text_field :description, class: "form-control mr-2" %></br>
      </div>

      <div class="form-group">
        <%= f.submit  class: "btn btn-primary btn-sm" %>
        <button class="cancel-create-btn btn btn-sm">Cancel</button>
      </div>
  <% end %>
