<li class="item-<%= task.id %> list-group-item mb-3 task-item-cont p-2">
  <div class="card-<%= task.id %> d-flex flex-wrap">
    <div class="info mr-auto ">
      <h5 class="card-title mb-0"><%= task.title %></h4>
      <p class="mb-0"><%= task.description %></p>
    </div>
    <%= form_for task, :html => {:class => 'float-sm-right'}, remote: true do |f| %>
      <%= link_to "Edit", edit_task_path(task), class: "btn btn-outline-primary btn-sm", remote: true %>
      <%= link_to completed_text(task), complete_task_path(task), class: "mark-comp btn btn-outline-primary btn-sm", method: :put, remote: true %>
      <%= link_to "Delete", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-outline-danger btn-sm', remote: true %>
    <% end %>
  </div>
</li>
