$('.item-<%=@task.id%>').replaceWith('<%= j render(@task) %>')
<% if @task.completed? %>
  $('.item-<%=@task.id%>').appendTo('.completed-tasks-list')
<% else %>
  $('.item-<%=@task.id%>').appendTo('.incomplete-tasks-list')
<% end %>
