<div class="container">
  <div class="row">
    <div class="new_task_cont d-flex col-sm justify-content-between">
      <%= link_to new_task_path, id: 'new_task_link', class: 'btn btn-success', remote: true do %>
        <i class="glyphicon glyphicon-plus"></i> New task
      <% end %>
      <button class="comp-toggle btn btn-info">Toggle completed</button>
    </div>
  </div>

  <div class="row">
    <ul class="incomplete-tasks-list list-group w-100">
      <div class="row">
        <h5 class="incomplete-toggle col-sm mt-3">Task list</h3>
      </div>
      <% @incomplete_tasks.each do |task| %>
        <%= render :partial => task %>
      <% end %>
    </ul>

    <div class="completed-tasks-list list-group w-100" style="display:none;">
      <div class="row">
        <h5 class="complete-toggle col-sm mt-3">Completed tasks</h3>
      </div>
      <% @completed_tasks.each do |task| %>
        <%= render :partial => task %>
      <% end %>
    </div>
  </div>
</div>
