<h1><%= @task.title%></h1>

<%= link_to "Edit task", edit_task_path(@task), class: 'btn btn-info btn-xs' %>
<%= link_to "Delete task", @task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs', remote: true %>
<p><%= @task.description %></p>
<span><%= @task.completed %></span>
